{{if data.error == 1}}
	<div class="item">
		<div class="itemLabel">
			ERROR
		</div>
		<div class="itemContent">
			{{:data.error_msg}}
			<br><br>
			{{:helper.link('Return', '', {'switch_menu' : 0}, 'selected')}}
		</div>
	</div>
{{else}}
	<div class="item">
		{{if data.screen == 0}}
			<div class="itemLabel">
				Available Stations
			</div>
			<div class="itemContent">
				{{for data.servers}}
					{{:helper.link(value.name, '', {'select_station' : value.ref})}}
				{{empty}}
					No stations located.
				{{/for}}
			</div>
		{{else data.screen == 1}}
			<div class="itemLabel">
				Options for {{:data.server}}
			</div>
			<div class="itemContent">
				{{:helper.link('Send Shipment', '', {'switch_menu' : 4})}}
				{{:helper.link('Receive Shipments (' + data.requests + ')', '', {'switch_menu' : 2})}}
				{{:helper.link('Messaging', '', {'switch_menu' : 5})}}
				<br><br>
				{{:helper.link('Back', '', {'switch_menu' : 0})}}
			</div>
		{{else data.screen == 2}}
			<div class="itemLabel">
				Shiptments for {{:data.server}}
			</div>
			<div class="itemContent">
				{{for data.requests}}
					{{:helper.link("ID: " + value.id + "," + value.item_count + " items", '', {'switch_menu' : 3, 'shipment' : value.ref})}}
				{{empty}}
					<b>No shipments found.</b>
				{{/for}}
				<br><br>
				{{:helper.link('Back', '', {'switch_menu' : 1})}}
			</div>
		{{else data.screen == 3}}
			<div class="itemLabel">
				Shipment #{{:data.id}}
			</div>
			<div class="itemContent">
				{{for data.items}}
					<b>{{:value.id}}</b> x{{:value.count}}
					<br>
				{{empty}}
					<b>No items were sent.</b><br>
					Shipment is empty?
				{{/for}}
				<br><br>
				{{:helper.link('Confirm', '', {'confirm' : 1})}}
				{{:helper.link('Deny', '', {'confirm' : 0})}}
				<br>
				{{:helper.link('Back', '', {'switch_menu' : 2})}}
			</div>
		{{else data.screen == 4}}
			<div class="itemLabel">
				Sending
			</div>
			<div class="itemContent">
				TODO: Implement.
				<br><br>
				{{:helper.link('Back', '', {'switch_menu' : 0})}}
			</div>
		{{else data.screen == 5}}
			<div class="itemLabel">
				Messaging
			</div>
			<div class="itemContent">
				TODO: Implement.
				<br><br>
				{{:helper.link('Back', '', {'switch_menu' : 0})}}
			</div>
		{{/if}}
	</div>
{{/if}}
