@font-face {
<<<<<<< HEAD
  font-family: "tgfont";
  src: url("./tgfont.woff2?ac4105718bed41e8015b97ba87c9ec71") format("woff2"),
url("./tgfont.eot?ac4105718bed41e8015b97ba87c9ec71#iefix") format("embedded-opentype");
}

i[class^="tg-"]:before, i[class*=" tg-"]:before {
  font-family: tgfont !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
=======
  font-family: 'tgfont';
  src: url('tgfont.woff2?t=1747971548188') format('woff2');
}

[class^='tg-'],
[class*=' tg-'] {
  font-family: 'tgfont' !important;
  font-size: undefined;
  font-style: normal;
>>>>>>> b4eb766984 (dependency cleanup and loader removal (#17781))
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

<<<<<<< HEAD
.tg-air-tank-slash:before {
  content: "\f101";
}
.tg-air-tank:before {
  content: "\f102";
}
.tg-bad-touch:before {
  content: "\f103";
}
.tg-image-minus:before {
  content: "\f104";
}
.tg-image-plus:before {
  content: "\f105";
}
.tg-nanotrasen-logo:before {
  content: "\f106";
}
.tg-non-binary:before {
  content: "\f107";
}
.tg-prosthetic-full:before {
  content: "\f108";
}
.tg-prosthetic-leg:before {
  content: "\f109";
}
.tg-sound-minus:before {
  content: "\f10a";
}
.tg-sound-plus:before {
  content: "\f10b";
}
.tg-syndicate-logo:before {
  content: "\f10c";
=======
:root {
  --tg-air-tank-slash: '\ea01';
  --tg-air-tank: '\ea02';
  --tg-bad-touch: '\ea03';
  --tg-image-minus: '\ea04';
  --tg-image-plus: '\ea05';
  --tg-nanotrasen-logo: '\ea06';
  --tg-non-binary: '\ea07';
  --tg-prosthetic-full: '\ea08';
  --tg-prosthetic-leg: '\ea09';
  --tg-sound-minus: '\ea0a';
  --tg-sound-plus: '\ea0b';
  --tg-syndicate-logo: '\ea0c';
}
.tg-air-tank-slash::before {
  content: var(--tg-air-tank-slash);
}
.tg-air-tank::before {
  content: var(--tg-air-tank);
}
.tg-bad-touch::before {
  content: var(--tg-bad-touch);
}
.tg-image-minus::before {
  content: var(--tg-image-minus);
}
.tg-image-plus::before {
  content: var(--tg-image-plus);
}
.tg-nanotrasen-logo::before {
  content: var(--tg-nanotrasen-logo);
}
.tg-non-binary::before {
  content: var(--tg-non-binary);
}
.tg-prosthetic-full::before {
  content: var(--tg-prosthetic-full);
}
.tg-prosthetic-leg::before {
  content: var(--tg-prosthetic-leg);
}
.tg-sound-minus::before {
  content: var(--tg-sound-minus);
}
.tg-sound-plus::before {
  content: var(--tg-sound-plus);
}
.tg-syndicate-logo::before {
  content: var(--tg-syndicate-logo);
>>>>>>> b4eb766984 (dependency cleanup and loader removal (#17781))
}
