<!-- 
	Interface for casino prize dispenser
	See: code/game/machinery/casino_ch.dm
-->

{{if data.mode == 0}} <!-- Listing categories -->
<h2>Prizes categories</h2>
<div class='item'>
	<div class='item'>
		<div style='float'>
			{{if data.category_weapons >= 1}}
				{{:helper.link('Select Weapons', 'star', { 'Select' : 'selected_weapons' })}}
			{{else}}
				{{:helper.link('Disabled Weapons', 'cancel', { "Select" : 1}, 'disabled')}}				
			{{/if}}
		</div>
	</div>
</div>
<div class='item'>
	<div class='item'>
		<div style='float'>
			{{if data.category_gear >= 1}}
				{{:helper.link('Select Gear', 'star', { "Select" : 'selected_gear' })}}
			{{else}}
				{{:helper.link('Disabled Gear', 'cancel', { "Select" : 1}, 'disabled')}}				
			{{/if}}
		</div>
	</div>
</div>
<div class='item'>
	<div class='item'>
		<div style='float'>
			{{if data.category_clothing >= 1}}
				{{:helper.link('Select Clothing', 'star', { "Select" : 'selected_clothing' })}}
			{{else}}
				{{:helper.link('Disabled Clothing', 'cancel', { "Select" : 1}, 'disabled')}}				
			{{/if}}
		</div>
	</div>
</div>
<div class='item'>
	<div class='item'>
		<div style='float'>
			{{if data.category_misc >= 1}}
				{{:helper.link('Select Miscellaneous', 'star', { "Select" : 'selected_misc' })}}
			{{else}}
				{{:helper.link('Disabled Miscellaneous', 'cancel', { "Select" : 1}, 'disabled')}}				
			{{/if}}
		</div>
	</div>
</div>
<div class='item'>
	<div class='item'>
		<div style='float'>
			{{if data.category_drinks >= 1}}
				{{:helper.link('Select Drinks', 'star', { "Select" : 'selected_drinks' })}}
			{{else}}
				{{:helper.link('Disabled Drinks', 'cancel', { "Select" : 1}, 'disabled')}}				
			{{/if}}
		</div>
	</div>
</div>
{{/if}}

{{if data.mode == 1}} <!-- Listing prizes -->
<h2>Prizes available</h2>
<div class='item'>
	{{for data.products}}
	<div class='item'>
			<div style='float'>
				{{:helper.link('Vend', 'circle-arrow-s', { "vend" : value.key })}}
			</div>
		<div class='itemContent'>
		{{if value.color}}<span style='color:{{:value.color}}'>{{:value.name}}</span>
		{{else}}{{:value.name}}
		{{/if}}
		</div>
	</div>
	{{empty}}
	No prizes available!
	{{/for}}
</div>
{{/if}}

{{if data.mode == 2}} <!-- Payment screen -->
<h2>Prize selected</h2>
<div class='item'>
	<div class='item'>
		<div class='itemLabel'>Item selected:</div> <div class='itemContent'>{{:data.product}}</div>
		<div class='itemLabel'>Charge:</div> <div class='itemContent'>{{:data.price}}</div>
	</div>
	<div class='statusDisplay' style='overflow: auto;'>
		{{if data.message_err}} <span class='uiIcon16 icon-alert' ></span>{{/if}} {{:data.message}}
	</div>
	<div class='item'>
		{{:helper.link('Cancel', 'arrowreturn-1-w', {'cancelpurchase' : 1})}}
	</div>
</div>
{{/if}}