<!-- 
	Interface for casino prize dispenser
	See: code/game/machinery/casino_ch.dm
-->

{{if data.mode == 0}} <!-- Listing -->
<h2>Prize categories</h2>
<div class='item'>
	{{for data.categories}}
	</div>
	{{empty}}
	No items available!
	{{/for}}
</div>
</div>
{{/if}}
