<h3>Phorochemistry Control</h3>
<div class="item">
	<div class="itemLabel">
		Test Commands:
	</div>
	<div class="itemContent">
		{{:helper.link('Recalibrate', null, { 'recalibrate': 1}, data.timeLeft == 0 ? null : 'disabled')}}
		{{:helper.link('Begin Test', null, { 'beginTest' : 1}, data.timeLeft > 0 ? 'disabled' : null)}}
		{{:helper.link('Abort Test', null, { 'abortTest' : 1}, data.timeLeft == 0 ? 'disabled' : null)}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Intensity:
	</div>
	<div class="itemContent">
		{{:helper.link('1', null, { 'intensity' : 1}, data.intensity == 1 ? 'selected' : null)}}
		{{:helper.link('2', null, { 'intensity' : 2}, data.intensity == 2 ? 'selected' : null)}}
		{{:helper.link('3', null, { 'intensity' : 3}, data.intensity == 3 ? 'selected' : null)}}
		{{:helper.link('4', null, { 'intensity' : 4}, data.intensity == 4 ? 'selected' : null)}}
		{{:helper.link('5', null, { 'intensity' : 5}, data.intensity == 5 ? 'selected' : null)}}
	</div>
</div>
	
<div class="item">
	<div class="itemLabel">
		Phoron(moles):
	</div>
	<div class="itemContent">
		{{if data.phoron < 40}}
			<font color = "#CC3333"> {{:data.phoron}} </font>
		{{else}}
			<font color = "#2F943C"> {{:data.phoron}} </font>
		{{/if}}
	</div>
</div>
<div class="item">
	<div class="itemLabel">
		Time until next test:
	</div>
	<div class="itemContent">
		{{:helper.displayBar(data.timeLeft, 0, data.timeLeftMax, 'bad')}} 
	</div>
</div>

<div class="statusDisplay">
	{{:data.message}}
</div>
