<!-- 
	Interface for the starcaster news device.
	See: code/game/objects/items/devices/starcaster_ch.dm
-->
<link href="spacemag.css" rel="stylesheet" type="text/css">
{{if data.article}}
	Viewing: {{:data.title}}<br>
	{{:helper.link('CLOSE', null, { "PRG_reset" : 1 })}}
	<br><br>
	{{if data.cover}}
		<img src='{{:data.cover}}' class="cover" />
	{{/if}}
	{{:data.article}}
{{else}}
	<h3>Listing available files</h3>
	<div class='item'>
		<div class='itemLabel'>
			Show archived files:
		</div>
		<div class='itemContent'>
			{{if data.showing_archived}}
				{{:helper.link('YES', null, { "PRG_toggle_archived" : 1 })}}
			{{else}}
				{{:helper.link('NO', null, { "PRG_toggle_archived" : 1 })}}
			{{/if}}
		</div>
	</div>
	<br><hr>
	{{for data.all_articles}}
		<div class='item'>
			<div class='itemLabel'>
				Name:
			</div>
			<div class='itemContent'>
				{{:value.name}}
			</div>
			<div class='itemLabel'>
				Actions:
			</div>
			<div class='itemContent'>
				{{:helper.link('OPEN', null, { "PRG_openarticle" : value.uid })}}
			</div>
		</div>
	{{/for}}
{{/if}}